.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.clickBody {
  background-color: #282c34;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #ff4554;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logoImg {
  height: 50px;
  width: 75px;
  border-right: 1px white solid;
}

.boxImg {
  height: 50px;
  width: 50px;
}

.dropButton {
  position: fixed;
  width: 200px;
  height: 200px;
  text-align: center;
  left: 45%;
  top: 45%;
}

.clickLink {
  position: fixed;
  left: 40%;
  font-weight: bold;
}

.inventLink {
  position: fixed;
  left: 60%;
  font-weight: bold;
}

.navDropImg {
  position: fixed;
  left: 8%;
}

.cardPlaceholder {
  position: absolute;
  top: 300px;
  right: 1300px;
  width: 450px;
  height: 225px;
}

html {
  background-color: black;
}
